<section class="single_story">
  <header class="story_info">
    <img src="https://w0.peakpx.com/wallpaper/335/727/HD-wallpaper-fantasy-forest-forest-tree-fantasy-green-lush-beautiful-landscape.jpg" class="story_image">
    <div class="story_title">
      <p id="story_title"><img src=""><%= story.title %></p>
    </div></header>
  <p class="story_blurb">
    <%= story.description %>
  </p>
  <footer class="story_footer">
    <div class="icons">
      <%= story.likes %> <i class="fa-solid fa-heart" title="likes"></i>
      <%= story.contributions %> <i class="fa-solid fa-book" title="contributions"></i>
      </div>
    <a class="link-to-story" href="/api/stories/id=<%= story.id %>">
      <i class="fa-solid fa-angles-right" title="read the whole story"></i>
    </a>
  </footer>
</section>
