
<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head') %>

  <body>
    <!-- sessions login -->
    <input type="hidden" id="user-id" value="<%= user.id %>" />
    <%- include('partials/_header') %>

    <main>
      <%- include('partials/_leftColumn') %>
      <%- include('partials/_rightColumn') %>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
